@charset "utf-8";
@media screen and (max-width:768px){
body {
	font-size:14px;
}

img{
	max-width:100%;
}


.only_pc{
	display:none !important;
}
.only_smart{
	display:block !important;
}
.only_smart_i{
	display:inline-block !important;
}


#wrapper{
	min-width:auto;
	min-width:initial;
}


/* article */
article{
}

/* .cont */
.cont{
}

/* h2,h3 */
h2,h3{
	font-weight:900;
}


/* .tit */
.tit{
	font-size:4vw;
}


/* .tit2 */
.tit2{
	font-size:5vw;
	line-height:1.3;
}
.tit2 span{
	margin-bottom:1.5%;
	font-size:2.5vw;
}


/* .appli1 */
.appli1{
	padding:0 0 5%;
	background-image:none;
}
.appli1 h3{
	margin-top:3%;
	font-size:3.8vw;
}
.appli1 h3 > span{
	font-size:5.5vw;
}
.appli1 h3 > span span{
	font-size:2.8vw;
	font-weight:normal;
	color:#3e3e62;
	display:block;
	line-height:1.7;
}
.appli1 a{
	display:inline-block;
	width:94%;
	line-height:2.6;
	margin-top:3%;
	background:url(../images/appli_btn.png);
	background-size:50px auto;
	border-radius:8px;
	font-size:5.5vw;
	font-weight:900;
	color:#fff;
	position:relative;
}
.appli1 a:after{
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0 6px 6px;
	border-color: transparent transparent transparent #fff;
	position:absolute;
	right:2%;
	top:50%;
	transform:translateY(-50%);
}


/* .appli2 */
.appli2{
	padding:3% 0 8%;
	background:url(../images/appli2_bg.png)no-repeat center top;
	background-size:cover;
}
.appli2 ul li{
	width:94%;
	height:auto;
	margin:5% auto 0;
	padding:5%;
	background-color:#fff;
	border-radius:30px 10px 10px 10px;
	box-shadow:0 0 4px rgba(0,0,0,0.3);
	position:relative;
	display: block;
}
.appli2 ul li span{
	display:block;
	position:absolute;
	left:-5px;
	top:-5px;
	width:22%;
	text-align:left;
}
.appli2 ul li span img{
	width:auto;
}
.appli2 ul li h3{
	width:auto;
	margin-bottom:5%;
	padding-left:0;
	font-size:4.2vw;
}
.appli2 ul li h3 img{
	display:block;
	width:40%;
	max-width:200px;
	margin:0 auto 5px;
}
.appli2 ul li figure{
	width:auto;
	text-align:center;
}
.appli2 ul li figure img{
	width:auto;
}
.appli2 ul li figure figcaption{
	font-size:3.4vw;
	font-weight:bold;
	margin-top:2%;
	text-align:left;
}
.appli2 p{
	margin:5% 0 2%;
	font-size:4vw;
	font-weight:900;
}
.appli2 > h3{
	font-size:5vw;
	font-weight:900;
}
.appli2 > h3 span{
	display:inline-block;
	width:auto;
	padding:1.5% 2%;
	line-height:1;
	margin-bottom:15px;
	font-size:4vw;
	font-weight:bold;
	color:#fff;
	background-color:#7d95b9;
	position:relative;
}
.appli2 > h3 span:after{
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 16px 12px 0 12px;
	border-color: #7d95b9 transparent transparent transparent;
	position:absolute;
	top:100%;
	left:50%;
	transform:translateX(-50%);
}
.appli2 a{
	display:inline-block;
	width:94%;
	line-height:2.6;
	margin-top:3%;
	background:url(../images/appli_btn.png);
	background-size:50px auto;
	border-radius:8px;
	font-size:5.5vw;
	font-weight:900;
	color:#fff;
	position:relative;
}
.appli2 a:after{
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0 6px 6px;
	border-color: transparent transparent transparent #fff;
	position:absolute;
	right:2%;
	top:50%;
	transform:translateY(-50%);
}


footer{
	padding:20px 0 5px;
}
footer ul li{
	display:block;
	padding:0;
	letter-spacing:normal;
	line-height:1.5;
	border-right:none;
}
footer ul li a{
	color:#3e3e62;
}
footer p{
	margin-top:20px;
}


/* topbtn */
#topbtn{
	width:40px;
	line-height:40px;
	font-size:18px;
	border-radius:50%;
	color:#fff;
	background-color:rgba(0,0,0,0.5);
	position:fixed;
	right:20px;
	bottom:-150px;
	-webkit-transition: bottom 0.8s;
	-moz-transition: bottom 0.8s;
	-ms-transition: bottom 0.8s;
	transition: bottom 0.8s;
}




}


