@charset "utf-8";

/* .appli1 .appli2 */
.appli1 {
	padding: 240px 0 40px;
}
.appli1 input[type="text"], .appli2 input[type="text"] {
	width: 560px;
	margin-top: 15px;
	padding: 0 10px;
	border: 2px solid;
	background-color: #fff;
	font-size: 16px;
	line-height: 40px;
}
.appli1 button, .appli2 button {
	position: relative;
	display: block;
	overflow: hidden;
	width: 560px;
	margin: 15px auto 0;
	color: #fff;
	border-radius: 12px;
	background: url(../images/appli_btn.png);
	font-size: 32px;
	font-weight: 900;
	line-height: 83px;
	/* transition : opacity 0.4s; */
	/* -webkit-transition : opacity 0.4s; */
}
/* .appli1 button:hover {
	opacity: 0.7;
} */
.appli1 button:after {
	position: absolute;
	top: 50%;
	right: 15px;
	width: 0;
	height: 0;
	content: "";
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	border-width: 6px 0 6px 6px;
	border-style: solid;
	border-color: transparent transparent transparent #fff;
}

.appli1 button:before {
	position: absolute;
	z-index: 10;
	top: -180px;
	left: 0;
	display: inline-block;
	width: 30px;
	height: 100%;
	content: "";
	-webkit-animation: shiny-btn1 3s ease-in-out infinite;
	        animation: shiny-btn1 3s ease-in-out infinite;
	background-color: #fff;
}



/* header.top */
header.top {
	position: relative;
	overflow: hidden;
	height: 530px;
}
header.top:before {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	background: url(../images/mv_wave.png);
}
header.top video {
	position: absolute;
	z-index: -100;
	top: 50%;
	left: 50%;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
header.top h1 {
	position: absolute;
	z-index: 2;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}


/* #cont1 */
#cont1 {
}
#cont1 h2 {
	margin-bottom: -25px;
	padding: 105px 0;
	background: url(../images/cont1_bg.png)no-repeat center center;
}
#cont1 h2 span {
	display: block;
	font-size: 30px;
}
#cont1 section:last-of-type {
	padding: 90px 0 110px;
}
#cont1 section:last-of-type h3 {
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 900;
}
#cont1 section:last-of-type h3 span {
	color: #d38c9e;
}
#cont1 section:last-of-type ul li {
	display: inline-block;
	width: 364px;
	margin: 0 20px;
	vertical-align: top;
}
#cont1 section:last-of-type ul li h4 {
	padding: 10px 0 30px;
	background: url(../images/cont1_tit_bg.png)no-repeat center top;
	font-size: 16px;
	line-height: 1.3;
}
#cont1 section:last-of-type ul li p {
	display: inline-block;
	text-align: left;
	letter-spacing: -0.03em;
}


/* #cont2 */
#cont2 {
	padding-top: 60px;
	background: url(../images/appli2_bg.png)no-repeat center top;
	background-size: cover;
}
#cont2 h2 {
	padding: 5px 0;
	background: url(../images/cont2_h2_bg.png)no-repeat center top;
	font-size: 20px;
	line-height: 1.5;
}
#cont2 h2:after {
	display: block;
	margin: 15px 0 0;
	padding-top: 16px;
	content: "";
	background: url(../images/cont2_arrow.png)no-repeat center top;
	background-size: 32px auto;
}
#cont2 .appli2 {
	padding-top: 0;
	background-image: none;
}


/* #cont3 */
#cont3 {
	padding: 40px 0;
}
#cont3 h2 {
	padding: 290px 0 330px;
	background: url(../images/cont3_h2_bg.png)no-repeat center center;
	font-size: 30px;
	line-height: 1.3;
}
#cont3 h2 span {
	display: block;
	margin-top: 10px;
	color: #3e3e62;
	font-size: 14px;
	font-weight: normal;
}
#cont3 section {
	position: relative;
	width: 700px;
	margin: 10px auto 0;
	padding: 25px 20px 20px;
}
#cont3 section:before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 43px;
	padding-top: 43px;
	content: "";
	border-top: 1px solid #3e3e62;
	border-left: 1px solid #3e3e62;
}
#cont3 section:after {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	width: 43px;
	padding-top: 43px;
	content: "";
	border-right: 1px solid #3e3e62;
	border-bottom: 1px solid #3e3e62;
}
#cont3 section figure {
	display: inline-block;
	width: 158px;
	margin-right: 20px;
	vertical-align: top;
}
#cont3 section figure figcaption {
	position: absolute;
	top: 20px;
	left: 210px;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
}
#cont3 section figure figcaption span {
	margin-right: 20px;
	font-size: 16px;
}
#cont3 section p {
	display: inline-block;
	width: 470px;
	padding-top: 40px;
	text-align: justify;
	vertical-align: top;
	text-justify: inter-ideograph;
	letter-spacing: -0.08em;
}


/* #cont4 */
#cont4 {
	padding: 20px 0;
}
#cont4 h2 {
	line-height: 1.5;
}
#cont4 h2 span {
	display: block;
}
#cont4 ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	width: 576px;
	height: 84px;
	margin: 20px auto;
	padding: 0 0 0 15px;
	border-radius: 14px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
	        box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
#cont4 ul li > span {
	display: block;
	width: 33px;
	margin-right: 15px;
	color: #fff;
	border-radius: 50%;
	background-color: #d38c9e;
	font-size: 16px;
	font-weight: bold;
	line-height: 33px;
}
#cont4 ul li p {
	text-align: left;
	font-size: 16px;
	font-weight: bold;
}
#cont4 ul li p span {
	display: block;
	white-space: nowrap;
	letter-spacing: -0.05em;
	font-size: 14px;
	font-weight: normal;
}
#cont4 h3 {
	margin: 70px 0 0;
	font-size: 20px;
}
#cont4 h3:after {
	display: block;
	margin: 10px 0 20px;
	padding-top: 16px;
	content: "";
	background: url(../images/cont4_arrow.png)no-repeat center top;
	background-size: 32px auto;
}
#cont4 a {
	display: inline-block;
	width: 505px;
}


/* #cont5 */
#cont5 {
	padding: 70px 0;
}
#cont5 h2 {
	text-indent: 0.5em;
	letter-spacing: 0.5em;
	line-height: 1.4;
}
#cont5 ul li {
	width: 700px;
	margin: auto;
	padding: 20px 0;
	border-bottom: 1px dotted #3e3e62;
	font-size: 16px;
	font-weight: bold;
}
#cont5 ul li:last-child {
	border-bottom: none;
}
#cont5 ul li span {
	color: #d38c9e;
}
#cont5 ul li img {
	display: block;
	width: 14px;
	margin: 0 auto 5px;
}


/* #cont6 */
#cont6 {
}
#cont6 h2 {
	position: relative;
	margin-bottom: 80px;
	padding: 35px 0;
	color: #fff;
	background-color: #d38c9e;
	font-size: 30px;
	font-weight: 900;
	line-height: 1.3;
}
#cont6 h2:after {
	position: absolute;
	top: calc(100% + 10px);
	left: 50%;
	width: 0;
	height: 0;
	content: "";
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	border-width: 18px 18px 0 18px;
	border-style: solid;
	border-color: #d38c9e transparent transparent transparent;
}
#cont6 ul li {
	width: 700px;
	margin: 30px auto 0;
}
#cont6 ul li section {
	display: inline-block;
	width: 410px;
	text-align: left;
	vertical-align: bottom;
}
#cont6 ul li section h3 {
	padding-right: 60px;
	padding-bottom: 15px;
	color: #d38c9e;
	border-bottom: 1px solid #e6e6eb;
	font-size: 20px;
	font-weight: 900;
	line-height: 1.3;
}
#cont6 ul li section h4 {
	margin: 15px 0 15px;
	padding-right: 60px;
	font-size: 14px;
	font-weight: 900;
	line-height: 1.3;
}
#cont6 ul li section p {
	padding-right: 50px;
	letter-spacing: -0.05em;
}
#cont6 ul li:nth-child(even) section h3, #cont6 ul li:nth-child(even) section h4, #cont6 ul li:nth-child(even) section p {
	padding-right: 0;
	padding-left: 60px;
}

#cont6 ul li figure {
	display: inline-block;
	margin-left: -30px;
	vertical-align: bottom;
}
#cont6 ul li:nth-child(even) figure {
	display: inline-block;
	margin: 0 -30px 0 0;
	vertical-align: bottom;
}
#cont6 ul li:nth-child(5) section, #cont6 ul li:nth-child(5) figure {
	vertical-align: middle;
}


/* #cont7 */
#cont7 {
	padding: 120px 0 40px;
}
#cont7 h2 {
	position: relative;
	margin-bottom: 100px;
	background: url(../images/cont7_h2_bg.png)no-repeat center top;
	font-size: 20px;
	line-height: 1.3;
}
#cont7 h2:after {
	position: absolute;
	top: calc(100% + 20px);
	left: 50%;
	width: 0;
	height: 0;
	content: "";
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	border-width: 18px 18px 0 18px;
	border-style: solid;
	border-color: #d38c9e transparent transparent transparent;
}
#cont7 h2 span {
	display: block;
	color: #d38c9e;
	font-size: 30px;
}


/* #cont8 */
#cont8 {
	padding: 20px 0 60px;
}
#cont8 ul li {
	position: relative;
	width: 700px;
	margin: 50px auto 0;
	padding-right: 270px;
	text-align: justify;
	text-justify: inter-ideograph;
	letter-spacing: -0.05em;
}
#cont8 ul li:nth-child(even) {
	padding: 0 0 0 270px;
}
#cont8 ul li h3 {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 1.3;
}
#cont8 ul li img {
	position: absolute;
	top: 50%;
	right: 20px;
	width: 215px;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
#cont8 ul li:nth-child(even) img {
	right: auto;
	left: 20px;
}


/* #cont9 */
#cont9 {
	padding: 0 0 5px;
}
#cont9 h2 {
	padding: 95px 300px 95px 0;
	background: url(../images/cont9_h2_bg.png)no-repeat center center,
	url(../images/cont9_h2_base.png)no-repeat center center;
	background-size: auto,100% 100%;
	font-size: 16px;
	font-weight: bold;
}
#cont9 > p {
	position: relative;
	padding: 90px 0;
	font-size: 20px;
	font-weight: 900;
}
#cont9 > p span {
	color: #d38c9e;
}
#cont9 > p img {
	position: absolute;
	right: calc(50% + 120px);
	bottom: 0;
}
#cont9 ul li:first-child {
	display: block;
	height: 460px;
	padding-top: 40px;
}
#cont9 ul li:first-child h3 {
	width: auto;
	margin-bottom: 10px;
	padding-left: 0;
}
#cont9 ul li:first-child figure {
	width: auto;
	text-align: center;
}
#cont9 ul li:first-child figure img {
	width: auto;
}


/* #cont10 */
#cont10 {
	padding: 70px 0 80px;
	background-color: #fcf6f7;
}
#cont10 > div {
	width: 720px;
	margin: auto;
}
#cont10 > div h2 {
	font-size: 25px;
}
#cont10 > div p {
	margin-top: 30px;
	text-align: justify;
	text-justify: inter-ideograph;
	letter-spacing: -0.08em;
}
#cont10 > div ul {
	display: inline-block;
	width: 240px;
	margin-top: 30px;
	vertical-align: bottom;
}
#cont10 > div ul li {
	margin-top: 20px;
	padding-left: 25px;
	text-align: justify;
	text-justify: inter-ideograph;
	letter-spacing: -0.08em;
	background: url(../images/cont5_check.png)no-repeat left top;
	background-size: 14px auto;
	font-weight: bold;
	line-height: 1.5;
}
#cont10 > div figure {
	display: inline-block;
	width: 427px;
	margin: 0 10px 0 30px;
	vertical-align: bottom;
}


/* #cont11 */
#cont11 {
	padding: 80px 0 30px;
}
#cont11 #slick {
	width: 960px;
	margin: 50px auto 0;
}


/* #cont12 */
#cont12 {
	padding: 40px 0 120px;
}
#cont12 ul li {
	position: relative;
	width: 700px;
	min-height: 230px;
	margin: 70px auto 0;
	padding-right: 340px;
	text-align: justify;
	text-justify: inter-ideograph;
	letter-spacing: -0.05em;
}
#cont12 ul li:nth-child(even) {
	padding: 0 0 0 340px;
}
#cont12 ul li figure {
	position: absolute;
	top: 0;
	right: 0;
}
#cont12 ul li:nth-child(even) figure {
	right: auto;
	left: 0;
}
#cont12 ul li h3 {
	margin: 10px 0 20px;
	font-size: 16px;
	line-height: 1.3;
}
#cont12 ul li p span {
	color: #d38c9e;
}



/* #cont13 */
#cont13 {
	padding: 40px 0 30px;
	color: #fff;
	background-color: #3e3e62;
}
#cont13 h2 {
	display: inline-block;
	width: 350px;
	text-align: left;
	vertical-align: top;
	letter-spacing: -0.05em;
	font-size: 30px;
	line-height: 1.3;
}
#cont13 ul {
	display: inline-block;
	width: 340px;
	text-align: left;
	vertical-align: top;
}
#cont13 ul li {
	margin-bottom: 10px;
	padding-left: 22px;
	background: url(../images/cont13_check.png)no-repeat left 5px;
	background-size: 18px auto;
	font-size: 19px;
}


/* #cont14 */
#cont14 {
	position: relative;
	padding: 40px 0 0;
}
#cont14:before {
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	content: "";
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	border-width: 18px 18px 0 18px;
	border-style: solid;
	border-color: #3e3e62 transparent transparent transparent;
}
#cont14 h2 {
	font-size: 30px;
}
#cont14 h2 span {
	color: #d38c9e;
}
#cont14 > p {
	margin: 20px 0;
}
#cont14 > p .bold {
	font-size: 16px;
	font-weight: bold;
}
#cont14 > p .pink {
	color: #d38c9e;
	font-size: 16px;
	font-weight: bold;
}
#cont14 .appli1 {
	margin-bottom: 50px;
}


/* #bottom_banner */
#bottom_banner {
	position: fixed;
	z-index: 101;
	right: 0;
	bottom: 0;
	-webkit-transition: bottom 0.8s;
	        transition: bottom 0.8s;
}

